<div class="row">
    <div class="textCentered" id="indexDiv">
        <img src="images/othello.png" alt="OthelloGameLogo">
        <h3>Othello</h3>
        <form>
            <label>Escoje el tamaño del tablero
            </label>
            <select ng-model="boardSize">
                <option value="4">4x4</option>
                <option value="6">6x6</option>
                <option value="8">8x8</option>
                <option value="10">10x10</option>
            </select>
            <div>
                <button type="submit" ng-click="playGame(boardSize)" class="success button"><b>Jugar!</b></button>
            </div>
        </form>
    </div>
</div>