.textCentered{
    text-align: center;
}

#indexDiv{
    padding-top: 5%;
    font-family: 'Exo 2', sans-serif;
}

#indexDiv div{
    padding-top: 3%;
}

select{
    width: 80px;
    height: 40px;
    display: block;
    margin: 0 auto;
}

td{
    border: 1px solid black;
    width: 50px;
    height: 50px;
}

table{
    margin: 10% auto;
}

label{
    font-size: 100%;
}

.diskDiv{
    border: solid 1px black;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.black{
    background-color: #0a0a0a;
}

.white{
    background-color: #ffffff;
}

#infoDiv{
    margin-top: 20%;
}

span{
    display: block;
}

.diskAmountDiv b{
    display: block;
}

table{
    background-color: #d6c59c;
}

#turnMsg{
    margin: 10% 0;
    color: white;
}