.textCentered{
    text-align: center;
}

#indexDiv{
    padding-top: 5%;
}

#indexDiv div{
    padding-top: 3%;
}

select{
    width: 80px;
    display: block;
    margin: 0 auto;
}


td{
    border: 1px solid black;
    width: 50px;
    height: 50px;
}

table{
    margin: 10% auto;
}